# symfony env settings for different environments
.env
.env.dev
.env.local

# Cache and logs
var/

# UnitTest
.phpunit.cache/
.phpunit.cache/test-results
.phpunit.cache/*
.output.txt
reed_results.json

# Managed by Composer
/bin/*
!bin/console
vendor/

#editor specific files
.idea
.buildpath
.project
.settings

